@page "/car"
@page "/"

<div class="container">
    <h1>Car Exercise Page</h1>
    <div class="row">
        <div class="col-6">
            <img width="100%" src="@car.Img" alt="">
        </div>
        <div class="col-6 d-flex flex-column justify-content-center">
            @foreach (var item in cars)
            {
                <button class="color-btn @item.Color @(car.Color == item.Color ? "active" : "")"
                        @onclick='() => ChangeCar(item)'>

                    <img src="@item.Icon" alt="@item.Color">
                    @(char.ToUpper(item.Color[0]) + item.Color.Substring(1) + " color")
                </button>
            }
        </div>
    </div>
</div>

@code {
    CarVM car = new CarVM
    {
        Color = "black",
        Img = "img/black-car.jpg",
        Icon = "icons/icon-black.jpg"
    };

    List<CarVM> cars = new List<CarVM>
    {
        new CarVM
        {
            Color = "red",
            Img = "img/red-car.jpg",
            Icon = "icons/icon-red.jpg"
        },
        new CarVM
        {
            Color = "silver",
            Img = "img/silver-car.jpg",
            Icon = "icons/icon-silver.jpg"
        },
        new CarVM
        {
            Color = "black",
            Img = "img/black-car.jpg",
            Icon = "icons/icon-black.jpg"
        }
    };

    void ChangeCar(CarVM newCar)
    {
        car = newCar;
    }
}